@use "../../../shared/scss/mixins" as mixin;
@use "../../../shared/scss/variables" as vari;

:host {
  position: relative;
  @include mixin.dFlex($gap: clamp(15px, 2.5vw, 55px), $direction: column);
  max-height: 62vh;
}

.content {
  padding: 28px;
  padding-right: 38px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: vari.$main2;
}

ul {
  list-style: none;
  margin-bottom: 16px;
}

.arrow {
  background-color: vari.$main1;
  border-radius: 50%;
  @include mixin.arrow($bg-color: vari.$main1, $icon-color: vari.$accent);
  transition: all 222ms ease-in-out;
  &:hover {
    transform: scale(1.22);
  }
}

h1 {
  @include mixin.accHead(vari.$accent);
}

.content {
  overflow: auto;
  @include mixin.dFlex($justify:normal, $gap: 15px, $direction: column);

  > p {
    font-size: clamp(16px, 3vw, 18px);
  }

  > h2 {
    font-size: clamp(18px, 3vw, 24px);
  }

  > ul li {
    font-size: clamp(16px, 3vw, 18px);
  }
  .text-balance {
    text-align: center;
    text-wrap: balance;
  }
}




@media (max-width: 930px) {
  .arrow {
    background-color: transparent !important;
  }
}


@media (max-width: 700px) {
  :host {
    max-height: 72vh;
  }
}


@media (max-width: 430px) {
  h1 {
    font-size: 24px;
  }
}