@use "../../../shared/scss/global" as *;

.memberlist {
  @include flexBox(column, flex-start, center, 16);
  overflow-y: auto;
  padding-top: 8px;
  overflow: visible;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}


.members {
  @include flexBox(column, initial, initial, 8);
  height: 200px;
  padding: 8px 4px;
  padding-right: 16px;
  overflow-y: auto;
  .card {
    @include flexBox(row, initial, center, 12);
    width: 244px;
    padding: 4px 10px;
    cursor: pointer;
    &:hover {
      background-color: $main1;
      border-radius: 28px;
    }
    .user-img-status {
      padding: 0;
      margin: 0;
    }
  }
}


.add-member {
  @include flexBox(row, center, center, 10);
  padding: 4px 10px;
  cursor: pointer;
  width: 244px;
  &:hover {
    background-color: $main1;
    border-radius: 30px;
    color: $accent;
    .add-person-icon {
      color: $accent;
    }
  }
  .add-person-icon {
    width: 40px;
    height: 40px;
    background-color: $main1;
    border: none;
    border-radius: 50px;
  }
}
