@use '../../../shared/scss/mixins' as mixin;
@use '../../../shared/scss/variables' as vari;

:host {
  width: 100%;
}

label {
  @include mixin.dFlex($gap: 18px);
  width: 100%;
  background-color: vari.$main1;
  padding: 18px 32px;
  border: 1px solid vari.$main1;
  border-radius: 100px;
  transition: border-color 0.2s ease-in-out;
  --icon-color: #{vari.$grey};

  &:hover {
    border-color: vari.$grey;
  }

  > input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: clamp(16px, 3vw, 20px);
  }

  .toggle-password {
    @include mixin.dFlex();
    flex-shrink: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;

    > svg {
      width: 24px;
      height: 24px;
    }

    &:hover {
      --icon-color: #{vari.$accent};
    }
  }

  &:has(> input:focus) {
    border-color: vari.$accent;
    --icon-color: #{vari.$black};
  }

  @media (max-width: 700px) {
    margin-bottom: 8px;
  padding: 12px 24px;
  }
}