@use "../../../../shared/scss/global" as *;

section {
  @include flexBox(column, initial, center, 20);
  position: absolute;
  top: 180px;
  right: 50%;
  transform: translateX(50%);
  width: 416px;
  height: 416px;
  padding: 20px 40px;
  background-color: $white;
  border-radius: 16px;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
}

.hidden {
  display: none !important;
}


app-add-new-members {
  position: absolute;
  @include flexBox(column, initial, initial, 20);
  top: 180px;
  right: 8px;
  width: 97%;
  padding: 20px 30px;
  padding-bottom: 290px;
  background-color: $white;
  border-radius: 16px 0px 16px 16px;
}

.closeChannelMember{
  @include flexBox('', center, center, '');
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: $white;
  border: none;
  &:hover{
    background-color: $main1;
  }
}

.memberlist-header {
  @include flexBox(row, space-between, center, 0);
  width: 280px;
  margin-right: -22px;
  h1 {
    font-size: 24px;
    color: $black;
  }
  .closeButton {
    font-size: 32px;
  }
}

.closeChannelMember:hover .closeButton{
  color: $accent;
}




@media (max-width: 550px) {
  app-add-new-members {
    top: 174px;
  }
}


@media (max-width: 450px) {
  section {
    border-radius: 12px;
    width: 96%;
  }
}


@media (max-width: 400px) {
  app-add-new-members {
    padding: 20px 20px;
    padding-bottom: 290px;
  }
}


@media (max-width: 336px) {
  app-add-new-members {
    padding: 20px 12px;
    padding-bottom: 290px;
  }
}
